<div class="m-3 h-100">
  <div class="p-3 h-100" fxLayout="column" fxLayoutAlign="start start">
    <div>
      <div style="font-size: 30px; font-weight: bold">Feedback Form</div>
      <div>I would love to hear your thoughts, suggestions or anything that can improve the user experience</div>
    </div>
    <span class="w-100 border mt-2 mb-2"></span>

    <div fxLayout="column" fxLayoutAlign="start stretch" class="mt-3">
      <span class="text-size">How Satisfied are you with the tool and its use?</span>
      <div fxLayout="row" fxLayoutAlign="start center" style="height: 40px">
        <span *ngFor="let emojicon of userSatisfactionList" class="emoji-icon mr-2"
              (click)="selectedEmoji = emojicon"
              [ngClass]="{
              'emoji-selected': selectedEmoji === emojicon
              }">
        {{emojicon.emoji}}
      </span>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="start stretch" class="mt-3">
      <span class="text-size mb-1">Please share your feedback. The more detail, the better</span>
      <textarea placeholder="Feedback Here..." class="border rounded"
                [(ngModel)]="feedbackText"></textarea>
    </div>

    <div fxLayout="row" class="mt-3">
      <app-button [label]="'Back'" [image]="'navigate_before'"
                  [labelCss]="'mr-2'" [buttonCss]="'mr-3'" (clicked)="openHomePage()">
      </app-button>
      <app-button [label]="'Submit'" [image]="'send'" [leftIcon]="false"
                  [disable]="!this.selectedEmoji && !this.feedbackText"
                  [labelCss]="'ml-2'" (clicked)="submitForm()">
      </app-button>
    </div>
  </div>
</div>
